h1 {
	font-family: 'Comic Sans MS';
}

button {
	width: 100%;
	max-width: 10rem;
	border-radius: 1rem;
}

img {
	width: 100%;
}

#enable-sound {
	display: block;
}

#video {
	display: none;
}

#main {
	display: none;
}

#meeting-status {
	width: 100vw;
	font-size: 20px;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

